Repository Aswinmcw/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @TT-billteng, @kkwong10, @abhullar-tt, @davorchap, @DrJessop, @muthutt, @mywoodstock, @mo-tenstorrent, @ashayestehmanesh, @farbabi, @tt-nshanker, @TT-BrianLiu, @tt-aho, @arakhmati, @boris-drazic

#0: Adding program_cache to 10 models
  tests/python_api_testing/models/bloom/perf_bloom.py
  tests/python_api_testing/models/deit/tests/perf_deit.py
  tests/python_api_testing/models/llama/perf_llama.py
  tests/python_api_testing/models/resnet/tests/perf_resnet.py
  tests/python_api_testing/models/roberta/perf_roberta.py
  tests/python_api_testing/models/stable_diffusion/perf_unbatched_stable.py
  tests/python_api_testing/models/t5/perf_t5.py
  tests/python_api_testing/models/vgg/tests/perf_vgg.py
  tests/python_api_testing/models/vit/tests/perf_vit.py
  tests/python_api_testing/models/whisper/perf_whisper.py
Owners: @boris-drazic, @ashayestehmanesh, @farbabi

#1838: Add plot module for cpu vs device
  tests/python_api_testing/sweep_tests/common.py
  tests/python_api_testing/sweep_tests/comparison_funcs.py
  tests/python_api_testing/sweep_tests/generation_funcs.py
  tests/python_api_testing/sweep_tests/run_pytorch_ci_tests.py
Owners: none

#1839: Add improved exponential body module
  tests/python_api_testing/sweep_tests/pytests/tt_dnn/test_eltwise_unary.py
  tt_metal/src/ckernels/grayskull/common/inc/ckernel_sfpu.h
Owners: none

#2127: Add more buffer time between scheduled tests which kick off every day by restricting workflow to 23.5h and run_tests to 23.25h
  .github/workflows/stress-slow-dispatch-build-and-unit-tests.yaml
  tests/scripts/run_tests.sh
Owners: @tt-rkim

#2127: Similarly restrict timeout for fast dispatch stress test too
  .github/workflows/stress-fast-dispatch-build-and-unit-tests.yaml
Owners: @tt-rkim

#4053: Upgrade driver from 1.23 to 1.26 in release assets from syseng, but will transition to new public method soon
  infra/machine_setup/scripts/download_public_machine_setup_assets.sh
Owners: @tt-rkim

#4065: Update pinned python3.8-venv to 20.04.9 because 20.04.8 is gone from deb cache
  .github/actions/install-metal-deps/dependencies.json
  README.md
Owners: @tt-rkim

#3994: Remov system memory from output buffer arg
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_bert_large_ff1_matmul_test.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_bert_large_ff2_matmul.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_bert_large_fused_qkv_matmul.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_bert_large_post_softmax_bmm.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_bert_large_pre_softmax_bmm.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_bert_large_selfout_matmul.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_bmm_test.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_eltwise_add_test.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_eltwise_addcdiv_test.yaml
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/pytorch_eltwise_where_test.yaml
Owners: none

#0: Disable TestPrintRaiseWait gtest until a fix for nondet issue is in
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch/dprint/test_raise_wait.cpp
Owners: none

#4014: Add testing for uint16 and uint32 on device - Fix bug with unpack in slow dispatch path for uint16
  tests/tt_eager/python_api_testing/unit_testing/test_tensor.py
  tt_eager/tensor/tensor_impl.cpp
  tt_eager/tensor/tensor_impl.hpp
Owners: none

#4056: Add separate post-acclerator deps section after accelerator-level deps for hugepages and weka because we need driver for hugpeages
  README.md
Owners: none

#4053: Refer to public instructions for syseng assets and accelerator level deps instead of having our own
  README.md
Owners: none

#4056: Add steps for dependencies instructions as there's a lot
  README.md
Owners: none

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

third_party/ @tt-rkim @TT-billteng @kkwong10

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
libs/module.mk @tt-rkim

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @TT-billteng @davorchap
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @DrJessop @davorchap
tt_metal/impl/dispatch/**/module.mk @DrJessop @davorchap @tt-rkim
tt_metal/kernels/dataflow/dispatch/ @DrJessop @davorchap
docs/source/frameworks/tt_dispatch.rst @DrJessop @davorchap

# metal - fw, llks, risc-v
# tt_metal/src/ckernels/ @davorchap @kkwong10
# tt_metal/src/ckernels/**/module.mk @tt-rkim @davorchap @kkwong10
# tt_metal/src/ckernels/**/Makefile @tt-rkim @davorchap @kkwong10
# tt_metal/src/firmware/ @davorchap @pgkeller @DrJessop
tt_metal/src/firmware/**/module.mk @tt-rkim
tt_metal/src/firmware/**/Makefile @tt-rkim
# tt_metal/src/meta/ @davorchap @pgkeller @DrJessop @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @kkwong10 @muthutt @mywoodstock
tt_metal/include/dataflow_kernel_api.h @davorchap @DrJessop @mywoodstock
tt_metal/src/firmware/riscv/common/dataflow_internals.h @davorchap @DrJessop @mywoodstock

# metal - profiler
# tt_metal/**/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent @TT-billteng
# tests/tt_metal/tools/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent @TT-billteng
# docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent @TT-billteng
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @ashayestehmanesh @farbabi

# eager - dtx
**/dtx/ @tt-nshanker
**/dtx/**/module.mk @tt-rkim @tt-nshanker

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
# **/tt_dnn/ @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/op_library/conv/ @tt-nshanker @arakhmati
# **/tt_dnn/op_library/conv/**/module.mk @tt-rkim @tt-nshanker @arakhmati
# **/tt_dnn/op_library/bmm/ @mywoodstock @TT-BrianLiu @tt-aho
# **/tt_dnn/op_library/bmm/**/module.mk @tt-rkim @mywoodstock @TT-BrianLiu @tt-aho

# eager - python api
# **/tt_lib/
**/tt_lib/csrc/tt_lib_bindings.cpp @tt-nshanker @TT-BrianLiu @tt-aho @arakhmati @mywoodstock
**/tt_lib/fallback_ops @tt-aho

# models
models/ @boris-drazic @ashayestehmanesh @farbabi # for future
tests/python_api_testing/models/ @boris-drazic @ashayestehmanesh @farbabi
tests/python_api_testing/models/conv_on_device_utils*.py @tt-nshanker
tests/python_api_testing/models/bert_large_performant/ @tt-aho @TT-BrianLiu
tests/python_api_testing/models/metal_BERT_large_15/ @tt-aho @TT-BrianLiu

# docs
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @DrJessop @kkwong10 @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @DrJessop @kkwong10 @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
